body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    padding: 1em;
  }
  
  .button {
    border-radius: 3px;
    padding: 8px 12px;
    background-color: #5aac44;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:hover {
    background-color: #4a9b34;
  }